<a href="https://colab.research.google.com/github/demirrayhan/assigment/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
print("Answer the following questions with 'Yes' or 'No")
age = input('Are you a cigarette addict older than 75 years old?').title()
chronic = input('Do you have a severe chronic disease?').title()
immune = input('Is your immune system too weak?').title()
if age == 'Yes' and chronic == 'Yes' or immune == 'Yes':
  print('You are in risky group') 
else:
  print('You are not in risky group')

Answer the following questions with 'Yes' or 'No
Are you a cigarette addict older than 75 years old?no
Do you have a severe chronic disease?no
Is your immune system too weak?no
You are not in risky group

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=6
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *

In [ ]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]
for x in names:
  print("Hello", x)

Hello Ahmed
Hello Aisha
Hello Adam
Hello Joseph
Hello Gabriel

In [ ]:
a = []
for i in range(1,6):
  a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [ ]:
user = [('name1','Ayhan'), ('name2','Veli'), ('name3','celik')]
for x, y  in user:
  print(x, y)

name1 Ayhan
name2 Veli
name3 celik

In [ ]:
number = int(input("Enter a number:"))
for x in range(11):
  print(number,"x",x, '=',(number*x))

Enter a number:14
14 x 0 = 0
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [ ]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
print(*range(10,-10,-1))

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [ ]:
text = ['one', 'two', 'three', 'four', 'five']
number= [1,2,3,4,5]
x = zip(text, number)
print(list(x))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [ ]:
number = range(1,11)
evens = []
odds = []
for x in number:
  if x % 2 == 0:
    evens.append(x)
  else:
    odds.append(x)
print(evens)
print(odds)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
name = input('Whats your name:')
last_name = input('Whats your last name:')
print(last_name + "," + " " + name)

Whats your name:Ayhan
Whats your last name:Demir
Demir, Ayhan

In [ ]:
n = 5
print(n + int(str(n)+str(n)) + int(str(n)+str(n)+str(n)))

615

In [ ]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [ ]:
print(True or not None)

print("{3} {2} {4} {1} {0}".format('job.', 'a', 'will', 'I', 'find'))
section_3_5 = "python data types and useful operations"
print(section_3_5.title())

True
I will find a job.
Python Data Types And Useful Operations

In [ ]:
print({0} and False or[])
print(float("140" * int(input("Enter a number:" ))))

[]
Enter a number:2
140140.0

In [ ]:
sentence = "The less you sleep and eat, the better your life will be."
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
text = f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(text)

The less you sleep and eat, the better your life will be.

In [ ]:
i

['ab', 'cd']

In [ ]:
number = [11, 2, 24, 61, 48, 33, 3]
evens = []
odds = []
for x in number:
  if x % 2 == 0:
    evens.append(x)
  else:
    odds.append(x)
print(len(evens))
print(len(odds))

3
4

In [ ]:
sum_num=0
for i in range(1,75):
  print(sum_num+i)
  sum_num +=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147

In [ ]:
alf = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

print(alf[8], ' ', alf[7],alf[0],alf[19],alf[4], " ",alf[24],alf[14],alf[20], sep="")

i hate you

In [ ]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for way in datalist:
  print(way, type(way))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
w3resource <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

In [ ]:
ayhan= {"ali" : "Veli", 'name2' : "celik"}
for a, b in ayhan.items():
  print(b)
  print(a)

Veli
ali
celik
name2

In [ ]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky